attrs==20.3.0
contextlib2==0.6.0.post1
cycler==0.10.0
cython==0.29.21
ipython-genutils==0.2.0
jupyter==1.0.0
kiwisolver==1.3.1
matplotlib==3.3.2
notebook==6.1.5
numpy==1.16.4
object-detection==0.1
opencv-python==4.4.0
pandocfilters==1.4.3
pillow==8.0.1
pycocotools==2.0.2
pyqt5-sip==4.19.18
pyqtchart==5.12
pyqtwebengine==5.12.1
pywin32==228
pyzmq==19.0.2
tf-slim==1.1.0
webencodings==0.5.1